html{
    scroll-behavior: smooth;
}
body{
    overflow: auto;
    font-family: "Noto Sans KR", sans-serif;
}

header {
    width: 100%; height:100px; left: 0; top: 0;
    position: fixed;
    background: black;
    z-index: 5;
    /* border: 1px solid black; */
}

.layout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.logo {
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 90px;
    color:white;
    font-family: 'Righteous', cursive;
    transition: ease-in-out 0.3s;
    cursor: pointer;  
    /* border: 1px solid black; */
}

.logo:hover {
    color : #ff153c
}

.headRight {
    font-size: 20px;
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 50px;
    /* border: 1px solid black; */
}
/* ----------- 메뉴 네비게이션 바 ----------- */

.headRight .inputNav {
    display: flex;
    /* border: 1px solid red; */
}

.menuList {
    display: flex;
    margin-right: 10px;
    /* border: 1px solid red; */
}

/* .headRight .findDiv {
    height: 100%;
} */

.findDiv .findTag {
    /* border: 1px solid black; */
}

.menuList li {
    display: flex;
    /* border: 1px solid red; */
}

.menuList .loginText {
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    /* border: 1px solid black; */
}

.menuList .loginId, .loginPw {
    width: 200px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    margin: 0 10px 0 3px;
    /* border: 1px solid black ; */
}

.menuLogin {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
}

/* ----------- 메뉴 네비게이션 바 --------END */

main {
    display: block;
    width: 100%;
}


/* ----------- 공지사항 ----------- */
.notice {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
    padding-bottom: 5px;
    /* border: 1px solid black; */
    background: #F4F4F4;

}

.noticeText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; height: 70px;
    /* border: 1px solid black; */
    background: #00D8EA;
    font-size: 24px;
    font-weight: 700;
}

.noticeText i {
    margin: 0px 0 0 10px;
    cursor: pointer;
}



.noticeTable {
    display: block;
    width: 85%;
    margin: 50px auto 50px auto ;
    justify-content: center;
    /* border: 1px solid black; */
    display: none;
}

.noticeTable .table {
    width: 100%; height: 450px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ff153c;
}

.noticeTable .table caption {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    font-weight: 700;
    background: black;
    color: #ff153c;
    /* border: 1px solid black; */
}



.table thead tr th{
    
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    /* border-right: 1px solid green;
    border-bottom: 1px solid green; */
    border: 1px solid #ff153c;
    background: #ff153c;
}

.table thead tr th:first-child {
    width: 10%;
    
}

.table thead tr th:nth-child(2) {
    width: 70%;
    
}

.table thead tr th:nth-child(3) {
    width: 20%;
}

.table tbody {
    font-size: 18px;
    font-weight: 700;
}

.table tbody tr {
    height: 20px;
}

.table tbody tr td {
    border: 1px solid #ff153c;
}

/* ----------- 공지사항 --------END */

.layout2 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    /* border: 1px solid black; */
}

.layout2 .mainTitle {
    
    font-size: 50px;
    font-weight: 800;
}

.layout2 .subTitle {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 400;
}

.layout3{
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

.layout3 .tagBox {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.layout3 .tagBox .tagBtn {
    display: flex;
    /* line-height: 35px; */
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 12px 16px 12px;
    padding: 0 15px;
    background: none;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.tagBox .tagBtn:hover {
    color: #ff153c;
    background-color: black;

}

.layout4 {
    display: flex;
    width: 100%;
    margin-top: 80px;
    justify-content: center;
    /* display: none; */
    /* border: 1px solid black; */
}

.layout4 .contain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-flow: minmax(100%, auto); */
    gap: 20px 20px;
    justify-items: stretch;
    align-items: stretch;
    text-align: center;
    width: 60%;
    /* border: 1px solid black; */
}

.layout4 .contain .item {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* border: 1px solid green; */
    /* background: black; */
    /* opacity: 0.4; */
    

}

.contain .item .bgBlack {
    position: absolute; top: 0; left: 0;
    z-index: 3;
    display: flex;
    width: 100%; height: 100%;
    text-align: left;
    align-items: end;
    background: black;
    border-radius: 10px;
    opacity: 0.75;
    padding: 0 0 5px 5px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    transition: ease-in-out 0.3s;

}

.layout4 .contain .item .bgBlack:hover {

    background: black;
    opacity: 0.85;
}

.layout4 .contain .item .imgTitle {
    position: absolute; top: 87%; left: 12px;
    z-index: 3;
    display: flex;
    color: #FEFEFE;
    pointer-events: none;
    font-weight: 400px;
    font-size: 17px;
    text-align: left;
    /* border: 1px solid red; */
}

.findDiv {
    width: 20%; height: 60px;
    display: flex;
    margin: 25px auto 0;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
}

.findDiv .findTag {
    width: 80%;
    font-size: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    /* border: 1px solid #ff3e5e; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-indent: 13px;
    background: #f2f2f2;
    
    
}

.findDiv .findTag:focus {
    outline: none;
}

.findDiv .findClick {
    width: 20%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: 20px; */
    background: #ff3e5e;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /* border: 1px solid blue; */
    font-family: "Noto Sans KR", sans-serif;
    transition: ease-in-out 0.3s;
}

.findClick span {
    display: flex;
    width: 100%; height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 50px;
    /* text-align: center; */
}

.findClick:hover {
    color: #ff3e5e;
    background: black;
}

/* .findDiv .findTag, .findClick {
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    border: 1px solid red;
} */





.contain .item img {
    display: block;
    position: relative;
    z-index: 1;
    width: 90%; height: auto;
    align-items: center;
    /* background: black; */
    /* opacity: 0.4; */
    /* border: 1px solid black; */
}

.overRay {
    position: fixed; top: 0; left: 0;
    z-index: 5;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* opacity: 0; */
    transition: opacity 3;
    display: none;
    pointer-events: auto;
    /* border: 5px solid red; */
}
.layout5 {
    position: fixed; top: 1000px; left: 25%;
    z-index: 5;
    width: 50%; 
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
    /* align-items: center; */
    /* display: none; */
    /* border: 1px solid blue; */
}

.layout5 .scrollInner {
    display: flex;
    /* flex-direction: column; */
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
    padding: 50px 0;
    /* border: 1px solid blue; */
}

.layout5 .showDetail::-webkit-scrollbar {
    display: none;

}

.layout5 .showDetail {
    
    position: absolute;
    width: 100%; height: 100%;
    z-index: 6;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border: 1px solid black; */
    
}


.showDetail .detailHead {
    display: flex;
    align-items: flex-end;
    width: 100%; 
    /* height: 12%; */
    height: 265px;
    background-image: url("../img/httpimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 40px 80px;
    opacity: 1;
    /* border: 1px solid red; */
}

.detailHead .bgBlack {
    position: absolute; top: 0; left: 0;
    z-index: 1;
    width: 100%; height: 100%;
    background: black;
    /* border: 1px solid red; */
    opacity: 0.7;
}

.detailHead .closeBtn {
    position: absolute; 
    z-index: 4;
    /* border: 1px solid blue; */
    background: none;
    top: 3px; right: 5px;
   
}

.closeBtn span {
    color: white;
    font-size: 60px;
    transition: ease-in-out 0.3s;
    /* border: 1px solid red; */
}

.closeBtn span:hover {

    color: #ff153c;
}

.detailHead h2 {

    z-index: 3;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.detailHead h2 span {
    color: #ff153c;
    margin-left: 10px;
    font-size: 30px;
}

.detailMain {
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 40px 80px 64px 80px;
    text-align: left;
    background: white;
    /* margin-bottom: 400px; */
    /* border: 5px solid blue; */
}

.detailMain .detailView .detail h3{

    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 700;
    color: #ff153c;
}

.detail p {
    font-size: 20px;
    margin-bottom: 7px;
}

/* 로그인 뷰------------------- */

/* .lgLayout {
    width: 100%; height: 100%;
    position: fixed; top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.727);
    margin: 0 auto;

}




.lgLayout .loginMain {
    position: absolute; top:60%; left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%; height: 300px;
    margin: 0 auto;
    background-color: #191919;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition: all 0.3s;

}

.loginMain .loginView {
    width: 80%; height: 60%;
    margin-bottom: 5px;
}

.idView, .pwView {
    width: 100%; height: 30%;
    display: flex;
    align-items: center;

}

.pwView {

    margin-top: 15px;

}

.loginView input {
    text-indent: 5px;
    font-size: 20px;
    width: 100%; height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    background: #dedede;
    border-radius: 5px;

}

.loginView input:focus {

    outline: none;
}

.loginBtn {
    display: flex;
    justify-content: center;
    height: 30%;
    margin-top: 15px;
}

.loginBtn button {
    width: 100%; height: 100%;
    font-size: 20px;
    background: #ff153c;
    color: white;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.loginBtn button:hover {

    background-color: #cc1030;
} */

/* 로그인 뷰-----------------END */



.lgLayout {

    width: 100%; height: 100%;

}


@keyframes loginAni {

    0% {
        top: 500px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lgLayout .loginMain {
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%; height: 300px;
    margin: 0 auto;
    background-color: #191919;
    border-radius: 5px;
    /* border: 2px solid red; */
    animation: loginAni 0.5s;
    display: none;
}

.loginMain .loginView {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; height: 60%;
    margin-bottom: 5px;
    /* border: 2px solid blue; */
    
}

.idView, .pwView {
    width: 100%; height: 30%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */

}

.pwView {

    margin-top: 15px;

}

.loginView input {
    text-indent: 5px;
    font-size: 20px;
    width: 100%; height: 100%;
    /* border: 1px solid red; */
    font-family: "Noto Sans KR", sans-serif;
    background: #dedede;
    border-radius: 5px;

}

.loginView input:focus {

    outline: none;
}

.loginView .loginBtn {
    display: flex;
    height: 30%;
    justify-content: center;
    margin-top: 15px;
    /* border: 1px solid black; */
}

.loginBtn button {
    width: 100%; height: 100%;
    font-size: 20px;
    background: #ff153c;
    color: white;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid blue; */
}

.loginBtn button:hover {

    background-color: #cc1030;
}

