@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@font-face {
    font-family: 'RixMomsBlanketR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/RixMomsBlanketR.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* 헤더부 */
header {
    width: 100%;
    height: 100px;
    position: fixed; top: 0;
    z-index: 2;
    background: antiquewhite
    /* border: 1px solid blue; */
}

header h1 {
    font-size: 5.0rem;
    font-family: 'RixMomsBlanketR';
    /* color: white; */
    text-align: center;
    line-height: 100px;
}

.sec1 {
    width: 100%;
    height: 1000px;
    display: flex;
    /* border: 1px solid black; */
}


.sec1 .menu1 {

    width: 15%;
    height: 100%;
    /* position: fixed; top: 100px; */
    border: 0px solid black;
}

/* 사이드부 */

.sec1 .menu1 .navBar {
    width: 15%;
    height: 100%;
    position: fixed; top: 100px;
    border: 0px solid purple;
}

.navBar ul li {

    width: 65%;
    text-indent: 10%;
    font-size: 2rem;
    font-family: 'Dovemayo_gothic';
    margin: 7% auto;
    border-radius: 10px;
    border: 0px solid black;
}

.navBar ul li:hover {

    background: black;
    color: #ccc;

}

/* adv */

.sec1 .menu1 .adv {
    width: 15%;
    height: 150px;
    position: fixed; top: 600px;
    border: 0px solid green;

}

.sec1 .menu1 .adv img {

    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}



/* 메인부 */

.sec1 .main {
    width: 85%;
    height: 950px;
    position: relative; top: 100px;
    border-left: 1px solid #ccc;
    background: white;
    z-index: 1;
}

.sec1 .main .menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin-bottom: 3%;
    border-top: 1px solid #ccc;
}

.sec1 .main .menu .tab {
    width: 20%;
    border: 0px solid red;
}



.main .menu .tab .img_box{
    width: 100%;
    height: 80%;
    border: 0px solid orange;

}

.main .menu .tab .img_box img {

    width: 100%;
    height: 100%;
}

.main .menu .tab .info {
    width: 100%;
    height: 30%;
    border: 0px solid black;

}

.main .menu .tab .info p:first-child {

    margin-top: 10%;
}

.main .menu .tab .info p {
    width: 50%;
    /* height: 35%; */
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-family: 'Dovemayo_gothic';
    border: 0px solid blue;
}

/* main2 */

.sec1 .main2 {
    width: 85%;
    height: 950px;
    position: relative; top: 100px;
    border-left: 1px solid #ccc;
    background: white;
    z-index: 1;
}

.sec1 .main2 .menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin-bottom: 3%;
    border-top: 1px solid #ccc;
}

.sec1 .main2 .menu .tab {
    width: 20%;
    border: 0px solid red;
}

.main2 .menu .tab .img_box{
    width: 100%;
    height: 80%;
    border: 0px solid orange;

}

.main2 .menu .tab .img_box img {

    width: 100%;
    height: 100%;
}

.main2 .menu .tab .info {
    width: 100%;
    height: 30%;
    border: 0px solid black;

}

.main2 .menu .tab .info p:first-child {

    margin-top: 10%;
}

.main2 .menu .tab .info p {
    width: 50%;
    /* height: 35%; */
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-family: 'Dovemayo_gothic';
    border: 0px solid blue;
}


.main {
    display: block;
}

.main2 {
    /* display : block; */
    display: none;
}






/* .info ul li {
    position: relative; top: 326px;
 
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Dovemayo_gothic';
    font-size: 1.4rem;
    margin: 0 auto;
    border: 1px solid black;
} */



/* 푸터
.copy {
    width: 100%;
    height: 50px;
    background: blue;
} */

